{% extends "base.html" %}

{% block title %}notice_all.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/notice_all.css" %}{% endblock %}

{% block content %}

<div id="qa-table">
	<h1 class="qa-title">INFORMATION</h1>
	
	<div class="bbs-sch">
		<form action="board.html" name="form1">
		
			<input type="hidden" name="q_id" value="">
			<input type="hidden" name="code" value="femi">
			<input type="hidden" name="page" value="1">
			<input type="hidden" name="type" value="s">
			<input type="hidden" name="board_cate" value="">
			<input type="hidden" name="review_type" value="">

			<!-- .검색 폼시작 -->
			<fieldset>
				<legend>게시판 검색 폼</legend>

				<select name="search_header" class="brd-hd">
					<option value="선택">선택</option>
					<option value="기사">기사</option>
					<option value="배송관련문의">칼럼</option>
					<option value="상품문의">안내</option>
				</select>                                
			</fieldset>
    	</form><!-- .검색 폼 끝 -->
    </div><!-- .bbs-sch -->
    
	<table class="table-top">
		<thead>
			<th class="number">번호</th>
			<th class="title">분류</th>
			<th class="category">제목</th>
			<th class="date">작성일</th>
		</thead>
		
		<ul class="table_main">
		{% for notice in notice %}
           
		<tbody>
			<th>{{ notice.id }}</th>
			<th>{{ notice.category }}</th>
			<th><a href="{{ notice.get_absolute_url }}">{{ notice.title }}</a></th>
			<th>{{ notice.create_date|date:"N d,Y" }}</th>
		</tbody>
		</ul>
		
		{% endfor %}
		
	</table>
	
	<!-- Pagination -->
	<nav class="pagination" aria-label="Page navigation">
		<ul class="pagelist">
	    	{% if page_obj.has_previous %}
	        <li>
		        <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
			    	<span aria-hidden="true">&laquo;</span>
			    </a>
			</li>
		    {% else %}
		    <li><span>&laquo;</span></li>
		    {% endif %}

		    {% for i in page_range %}
		        {% if page_obj.number == i %}
		            <li><span>{{ i }}</span></li>
		        {% else %}
		            <li><a href="?page={{ i }}">{{ i }}</a></li>
		        {% endif %}
		    {% endfor %}

		    {% if page_obj.has_next %}
		    <li>
		        <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
		           <span aria-hidden="true">&raquo;</span>
		        </a>
		    </li>
		    {% else %}
		        <li><span>&raquo;</span></li>
		    {% endif %}
		</ul>
	</nav>
</div>

{% endblock %}

{% block footer %}{% endblock %}