{% extends "base.html" %}

{% block title %}notice_detail.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/notice_detail.css" %}{% endblock %}

{% block content %}
<div id="qa-board-title">
	<h1>INFORMATION</h1>
</div>

<div id="contents">
	<table>
		<tr>
			<th>title</th>
			<td colspan="3">{{ object.title }}</td>
		</tr>
		<tr>
			<th>date</th>
			<td class="date">{{ notice.create_date|date:"N d,Y" }}</td>
			<th>category</th>
			<td>{{ notice.category }}</td>
		</tr>
		<tr>
			<td class="qa-contents">{{ object.content|linebreaks }}</td>
		</tr>
	</table>
	
	<div class="req-button">
		<a href="{% url 'notice:notice_list' %}"><button class="list-btn">목록</button></a>
	</div>
</div>
{% endblock %}